* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    ;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*? ************************ Conteúdo Principal */
/* !Imagem museu */
#entradaMuseu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0;
    width: 100%;
    height: auto;
}

/* !Exposições */
article video {
    width: 100%;
    height: auto;
    padding: 0 0.5rem;
}

article h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: .5rem;
}

article#exposicoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article#exposicoes ul {
    list-style: circle;
}

article#exposicoes .nav-link {
    font-size: 1.3rem;
    font-weight: 500;
    color: #86521a;
}

/* !História */

article#historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article#historia p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    padding: 1rem;
}

article#historia .nav-link {
    font-size: 1.3rem;
    font-weight: 500;
    color: #86521a;
}

/*! Mapa */
article#mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article#mapa iframe {
    margin: 1rem;
}

/*! Visita */
section h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background-color: #86521a;
    border-radius: 0.3rem;
    margin: 1rem 0.2rem;
    padding: 0.5rem;
}
aside {
    background: #ebe7dd;
}

section#visita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #cdc8b1;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px dashed #000;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0.3rem; */
}

.form-group label {
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 1rem;
}

.form-group input {
    width: auto;
    border:1px solid #ada484;
}

button.btn {
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    background: #9b9271;
	color: white;
}

/*! Galeria de Fotos */
.container .galeria {
    display: flex;
    justify-content: space-between;
}

.col-12 .col-md-6 a img {
    border: 4px double #000;
    width: 100%;
    height: 20rem;
    margin: 0.5rem 0;
    padding: 1rem;
}

.container-fluid p {
    font-size: 1.5rem;
}

/* ! Footer */

footer {
    background-image: url(../img/fundo.png);
    padding: 1rem;
}

.container-fluid {
    width: 100%;
    height: auto;
    margin-top: auto;
}

.container-fluid p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.container-fluid a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0;
    padding: 0.5rem;
    color: #fff;
    background-color: #af670a;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 5rem;
    box-shadow: 2px 2px 2px rgba(#000, #000, #000, 0.6);
}







/*? ************************************ Media Queries ********************* ********************* */
/* Tablets */
@media (min-width: 768px) {

    /*? ************************ Conteúdo Principal */
    /* !Imagem museu */
    #entradaMuseu {
        margin: 1rem 0;
    }

    /* !Exposições */
    article h3 {
        font-size: 2.2rem;
    }

    article#exposicoes .nav-link {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        margin-top: 3rem;
    }

    /* !História */

    article#historia p {
        font-size: 1.5rem;
        padding: 0;
    }

    article#historia .nav-link {
        font-size: 1.5rem;
    }

    /*! Mapa */
    article#mapa iframe {
        width: 100%;
        height: auto;
        margin: 1rem;
    }

    /*! Visita */
    section#visita {
        width: 100%;
        height: auto;
    }

    .form-group label {
        font-size: 1.5rem;
    }

    .form-group input {
        width: auto;
    }


    /*! Galeria de Fotos */

    .col-12 .col-md-6 a img {
        height: 25rem;
        padding: 1rem;
        margin: 3rem 0;
    }

    /* ! Footer */

    .container-fluid p {
        font-size: 1.5rem;
    }

    .container-fluid a {
        font-size: 1.5rem;
    }
}

/* Grandes */
@media (min-width: 1024px) {   
    /*? ************************ Conteúdo Principal */
    /* !Imagem museu */
    #entradaMuseu {
        position: relative;
        margin: -4rem 0 2rem 0;
        width: 100%;
    }
    
    /* !Exposições */
    article video {
        width: 100%;
        height: auto;
        padding: 0;
    }
    
    article h3 {
        text-align: center;
        font-size: 2.5rem;
        margin: 1rem;
    }

    article#exposicoes .nav-link {
        font-size: 1.7rem;
    }
    
    /* !História */    
    article#historia p {
        font-size: 1.7rem;
        font-weight: 400;
    }
    
    article#historia .nav-link {
        font-size: 1.7rem;
        font-weight: 400;
    }
    
    /*! Mapa */
    article#mapa iframe {
        width: 100%;
        height: 30rem;
        margin: 1rem;
    }
    
    /*! Visita */
    section h4 {
        font-size: 2.2rem;
    }
    
    section#visita {
        position: relative;
        margin: -4rem 0 2rem 0;
        border: 2px dashed #000;
    }
    
    .form-group {
        margin: 0.8rem 0;
    }
    
    .form-group label {
        font-size: 1.7rem;
    }

    button.btn:hover {
        color: #227115;
        background: #9b9271;
        border: 1px solid #227115;
    }
    
    /*! Galeria de Fotos */
    .container .galeria {
        display: flex;
        justify-content: space-between;
    }
    
    .col-12 .col-md-6 a img {
        border: 4px double #000;
        width: 100%;
        height: 20rem;
        margin: 0.5rem 0;
        padding: 1rem;
    }
    
    .container-fluid p {
        font-size: 1.5rem;
    }
    
    /* ! Footer */
    
    footer {
        background-image: url(../img/fundo.png);
        padding: 1rem;
    }
    
    .container-fluid {
        width: 100%;
        height: auto;
        margin-top: auto;
    }
    
    .container-fluid p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
    }
    
    .container-fluid a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        margin: 0;
        padding: 0.5rem;
        color: #fff;
        background-color: #af670a;
        font-size: 1.3rem;
        font-weight: 500;
        border-radius: 5rem;
        box-shadow: 2px 2px 2px rgba(#000, #000, #000, 0.6);
    }

}
